.form-generic {
	width: 100%;
}

.fieldGroup {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1em;
}

.form-generic h2 {
	color: var(--white-color);
	margin-bottom: 1rem;
	text-align: center;
}

.fieldGroup label {
	color: var(--grey-bg-color);
	font-size: 0.875rem;
	margin-left: 0.5em;
}

.fieldGroup input,
.fieldGroup textarea {
	background-color: var(--third-black-color);
	border: 1px solid var(--grey-bg-color);
	border-radius: 24px;
	outline: none;
	padding: 0.5em 1em;
	color: var(--white-color);
	transition: all 0.3s ease;
}

.fieldGroup textarea {
	border-radius: 12px;
	resize: none;
	font-family: "Mona Sans Variable";
}

.fieldGroup input:focus,
.fieldGroup textarea:focus {
	border: 1px solid var(--white-color);
}

.fieldGroup label:has(+ input:focus),
.fieldGroup label:has(+ textarea:focus) {
	color: var(--white-color);
}

.form-generic button {
	width: 100%;
	border-radius: 24px;
	padding: 0.5em 1em;
	background-color: var(--third-bg-color);
	border: none;
	cursor: pointer;
	font-weight: 700;
	font-family: "Mona Sans Variable";
	outline: none;
}

.fieldGroup textarea::-webkit-scrollbar {
	width: 6px; /* Ancho de la scrollbar vertical */
	height: fit-content;
	margin-right: 0.2em;
}

.fieldGroup textarea::-webkit-scrollbar-track {
	width: 0.05em;
	border-radius: 12px;
}

.fieldGroup textarea:hover::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.2);
	border-radius: 12px;
	transition: background 0.3s ease-in-out;
	cursor: pointer;
}

.fieldGroup textarea::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.4);
}

.fieldGroup-error input {
	border-color: var(--third-bg-color) !important;
}

.fieldGroup-error label {
	color: var(--third-bg-color) !important;
}

.fieldGroup .error-message {
	margin-left: 0.5rem;
}

.form-generic .error-message {
	margin-bottom: 0.25rem;
}
