.deck {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5em;
	flex: 0 0 calc(33.33% - (2em / 3));
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 24px;
	height: 300px;
	/* min-width: calc(33.33% - 1em); */
	gap: 1em;
	min-width: calc(33.33% - (2em / 3));
	transition: all 0.3s ease-in-out;
}

.deck-header {
	display: flex;
	justify-content: space-between;
}

.deck-header h2 {
	font-size: 1.25rem;
	font-weight: 500;
}

.deck-header button:first-child {
	margin-right: 0.5em;
}

.deck-content {
	font-size: 0.85rem;
	color: var(--grey-bg-color);
}

.deck-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top: 1px solid var(--grey-bg-color);
	padding-top: 1.5em;
}

.deck-footer span {
	font-weight: 500;
}

.deck-footer button {
	font-family: "Mona Sans Variable";
	font-weight: 500;
	border: 2px solid var(--third-bg-color);
	color: var(--primary-bg-color);
	background-color: var(--third-bg-color);
	border-radius: 24px;
	padding: 0.5em 1em;
	cursor: pointer;
}

.deck-buttons button {
	border: none;
	padding: 0.25em;
	background-color: transparent;
}

.deck-icon-button {
	font-size: 1rem;
	color: var(--third-bg-color);
	cursor: pointer;
	background-color: transparent;
}

.deck-icon-button:hover {
	color: var(--third-bg-color);
}

.delete-header {
	color: var(--third-bg-color);
	margin-bottom: 0.25rem;
}

.delete-paragraphs {
	color: var(--white-color);
	text-align: center;
	margin-bottom: 1rem;
}

.edit-header,
.add-header {
	color: var(--white-color);
}

.delete-icon {
	font-size: 4rem;
	background-color: var(--third-bg-color);
	margin-bottom: 1rem;
	border-radius: 12px;
}
