.search-form {
	display: flex;
	position: relative;
}

.search-input {
	font-family: "Mona Sans Variable";
	color: var(--white-color);
	padding: 0.75em 2.5em;
	background-color: var(--third-black-color);
	border-radius: 24px;
	outline: none;
	border: none;
	width: 405px;
	font-size: 1rem;
	border: 2px solid transparent;
	transition: border 0.3s ease;
}

.search-input::placeholder {
	font-size: 1rem;
	font-weight: 500;
}

.search-input::-webkit-search-cancel-button {
	display: none;
}

.search-button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	color: var(--grey-bg-color) !important;
	border: none !important;
	padding: none !important;
	background-color: transparent !important;
	outline: none;
}

.search-close-button {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 0.75em;
	background-color: transparent !important;
	border: none !important;
	z-index: 1000;
}

button.visible {
	animation: fadeIn 0.3s linear forwards;
}

.search-close-icon {
	font-size: 1.5rem;
	color: var(--grey-bg-color);
}

.search-icon {
	font-size: 1.5rem !important;
	font-weight: 700 !important;
	z-index: 200 !important;
}

.search-input:hover {
	border: 2px solid #404040;
}

.search-input:focus {
	border: 2px solid var(--third-bg-color);
}

.search-input:focus + .search-button .search-icon {
	color: var(--third-bg-color) !important;
}

.error-sarch-input {
	position: absolute;
	bottom: -1.5em;
	left: 2.5em;
	color: var(--third-bg-color);
}
