*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Mona Sans Variable", sans-serif;
	background-color: var(--primary-bg-color);
	background-image: radial-gradient(
		circle,
		#ffdc69 10%,
		#ffdc69 10%,
		#cca240 90%
	);
}

img,
picture,
video,
svg,
canvas {
	display: block;
	max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

ul {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

:root {
	--primary-bg-color: #0a0a0a;
	--secondary-bg-color: #dbd9d8;
	--white-color: #fff;
	--third-bg-color: #ffdc69;
	--fourth-bg-color: #e16ee5;
	--secondary-black-color: #1b1b1b;
	--third-black-color: #2f2f2f;
	--grey-bg-color: #969b9e;
}

/* mona-sans-latin-wght-normal */
/* mona-sans-latin-wght-normal */
@font-face {
	font-family: "Mona Sans Variable";
	font-style: normal;
	font-display: swap;
	font-weight: 200 900;
	src: url(https://cdn.jsdelivr.net/fontsource/fonts/mona-sans:vf@latest/latin-wght-normal.woff2)
		format("woff2-variations");
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
		U+2212, U+2215, U+FEFF, U+FFFD;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		visibility: hidden;
	}

	to {
		opacity: 1;
		visibility: visible;
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		visibility: visible;
	}

	to {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes fadeInBtm {
	from {
		opacity: 0;
		filter: blur(5px);
		-webkit-filter: blur(5px);
		transform: translateY(80px);
	}

	to {
		opacity: 1;
		filter: blur(0px);
		-webkit-filter: blur(0px);
		transform: translateY(0px);
	}
}

@keyframes flip-vertical-right {
	from {
		transform: rotateY(0);
		-webkit-transform: rotateY(0);
	}

	to {
		transform: rotateY(180deg);
		-webkit-transform: rotateY(180deg);
	}
}
