#reset-password-form {
	justify-content: center;
	gap: 2rem;
}

.oAuth-logo-form {
	font-size: 4rem;
	border-radius: 50%;
	padding: 0.25em;
	border: 2px solid var(--third-bg-color);
}

#reset-password-form .oAuth-subTitle {
	text-align: center;
}

.container-recovery-password {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: var(--white-color);
	padding: 2rem;
	gap: 1rem;
	width: 80%;
}
